.about-container{
    background-size: cover;
    background-position: center;
    color:whitesmoke;
    padding: 80px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.about-content h2{
    color:white;
    font-size: 50px;
    padding-left: 30px;
    background-color: rgb(198, 13, 13);
    border-radius: 15px;
}
.about-content p{
    font-size: 30px;
    max-width: 500px;
    text-align: justify;
    background-color: rgb(198, 13, 13);
    border-radius: 15px;
}